<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.junhee.EasyResearch.Research.Repository.IResearchMapper">

	<resultMap id="UserMap" type="com.junhee.EasyResearch.Model.UserVO">
		<id property="userId" column="user_id" />
		<result property="userPw" column="user_pw" />
		<result property="univIdNum" column="univ_id_num"/>
		<result property="email" column="email"/>
		<result property="tel" column="tel"/>
		<result property="major" column="major"/>
		<result property="userType" column="user_type"/>
		<result property="participationRight" column="participation_right"/>
		<result property="setupRight" column="setup_right"/>
		<result property="classRegiRight" column="class_regi_right"/>
		<result property="permissionRight" column="permission_right"/>
	</resultMap>

	<resultMap id="ResearchMap" type="com.junhee.EasyResearch.Model.ResearchVO" >
		<id property="researchId" column="research_id" />
		<result property="researchType" column="research_type" />
		<result property="title" column="title" />
		<result property="purpose" column="purpose" />
		<result property="method" column="method" />
		<result property="rewardType" column="reward_type" />
		<result property="rewardValue" column="reward_value" />
		<result property="duration" column="duration" />
		<result property="permission" column="permission" />
		<result property="uploadFileName" column="upload_file_name" />
		<result property="savedFileName" column="saved_file_name" />
		<association property="researcher" column="researcher" javaType="com.junhee.EasyResearch.Model.UserVO" resultMap="UserMap" />
	</resultMap>
	
	<insert id="RegisterResearch">
		INSERT INTO research (research_type, title, purpose, method, reward_type, reward_value, duration, upload_file_name, saved_file_name, researcher) 
		VALUES (#{researchType},#{title},#{purpose},#{method},#{rewardType},#{rewardValue},#{duration},#{uploadFileName}, #{savedFileName}, #{researcher.userId})
	</insert>

</mapper>